# LDAP Ingestion Settings
ingestion:
  # If include ACLs is set to false, then the nTSecurityDescriptor will not be
  # fetched in queries (even if they list it explicitly), and ACLs will not be filled in the end.
  # This is usually bad, as ACL abuse paths won't be interpreted from the dump,
  # but there could be reasons for disabling it (evasion etc).
  include_acls: true

  # If recurse_trusts is set to true, it'll try to ingest
  # any trusted domains found recursively with the initial credential
  # provided for ingestion.
  recurse_trusts: false

  # The recurse_feasible_only option only applies when recurse_trusts is
  # true. In that case, it'll only try to
  # ingest a trusted domain if the trust is
  # (1) inbound/bidirectional and
  # (2) either involves the initial domain, or is transitive
  recurse_feasible_only: true

  # If search_forest is set to true, it'll try to ingest domains that are 
  # part of the same forest as the initial domain from the Configuration partition.
  # Both options can be set at the same time, and flashingestor will only ingest any domain found once
  # (either via a trust, or via the current forest).
  search_forest: false

  # If connecting via the LDAPS port (636) doesn't work,
  # fall back to plain LDAP (386).
  ldaps_to_ldap_fallback: true

  # Prompt for confirmation when overwriting msgpack files
  # in ingestion / remote collection
  prompt_msgpack_overwrite: true

  # Append newly discovered domain<->forest mappings 
  # to output/ldap/ForestDomains.json instead of
  # overwriting
  append_forest_domains: true

  # The default queries specified below are designed with
  # information needed by Bloodhound conversion in mind.
  #
  # You may choose to customize queries or attributes,
  # but it's best to try to avoid removing needed attributes,
  # and to avoid changing the meaning of the search filters, as
  # it could lead to collection issues.
  #
  # Changing the page size is also possible - it doesn't matter much
  # usually, but it could be useful when in slow/problematic networks.
  queries:
    - name: Configuration
      filter: "(objectClass=*)"
      page_size: 1000
      attributes:
        - "*"
        - nTSecurityDescriptor

    - name: Schema
      filter: "(|(name=ms-mc*wd)(name=ms-lap*))"
      page_size: 10
      attributes:
        - name
        - schemaIDGUID

    - name: Domains
      filter: "(objectClass=domain)"
      page_size: 1000
      attributes:
        - "*"
        - objectClass
        - nTSecurityDescriptor

    - name: Trusts
      filter: "(objectClass=trustedDomain)"
      page_size: 1000
      attributes:
        - flatName
        - name
        - securityIdentifier
        - trustAttributes
        - trustDirection
        - trustType

    - name: Containers
      filter: "(&(!(objectClass=groupPolicyContainer))(objectClass=container))"
      page_size: 1000
      attributes:
        - distinguishedName
        - name
        - objectGUID
        - isCriticalSystemObject
        - objectClass
        - objectCategory
        - description
        - whencreated
        - nTSecurityDescriptor

    - name: OrganizationalUnits
      filter: "(objectClass=organizationalUnit)"
      page_size: 1000
      attributes:
        - distinguishedName
        - name
        - objectGUID
        - gPLink
        - gPOptions
        - objectClass
        - description
        - whencreated
        - nTSecurityDescriptor

    - name: Users
      filter: "(|(&(objectCategory=person)(objectClass=user))(objectClass=msDS-ManagedServiceAccount)(objectClass=msDS-GroupManagedServiceAccount))"
      page_size: 1000
      attributes:
        - sAMAccountName
        - distinguishedName
        - sAMAccountType
        - objectSid
        - primaryGroupID
        - isDeleted
        - objectClass
        - servicePrincipalName
        - userAccountControl
        - displayName
        - lastLogon
        - lastLogonTimestamp
        - pwdLastSet
        - mail
        - title
        - homeDirectory
        - description
        - userPassword
        - adminCount
        - msDS-AllowedToDelegateTo
        - sIDHistory
        - whencreated
        - unicodepwd
        - scriptpath
        - nTSecurityDescriptor
        - unixuserpassword
        - msDS-GroupMSAMembership
        - msDS-ManagedServiceAccount
        - msDS-GroupManagedServiceAccount

    - name: Computers
      filter: "(&(sAMAccountType=805306369)(!(objectClass=msDS-GroupManagedServiceAccount))(!(objectClass=msDS-ManagedServiceAccount)))"
      page_size: 1000
      attributes:
        - samaccountname
        - userAccountControl
        - distinguishedname
        - dNSHostName
        - samaccounttype
        - objectSid
        - primaryGroupID
        - objectGUID
        - isDeleted
        - servicePrincipalName
        - msDS-AllowedToDelegateTo
        - sIDHistory
        - whencreated
        - lastLogon
        - lastLogonTimestamp
        - pwdLastSet
        - operatingSystem
        - description
        - operatingSystemServicePack
        - operatingSystemVersion
        - nTSecurityDescriptor
        - msDS-HostServiceAccount
        - objectClass
        - msDS-AllowedToActOnBehalfOfOtherIdentity
        - ms-mcs-admpwdexpirationtime
        - mslaps-passwordexpirationtime

    - name: Groups
      filter: "(objectClass=group)"
      page_size: 1000
      attributes:
        - distinguishedName
        - samaccountname
        - samaccounttype
        - objectsid
        - member
        - objectClass
        - adminCount
        - description
        - whencreated
        - nTSecurityDescriptor

    - name: GroupPolicies
      filter: "(objectCategory=groupPolicyContainer)"
      page_size: 1000
      attributes:
        - distinguishedName
        - name
        - objectGUID
        - gPCFileSysPath
        - displayName
        - objectClass
        - description
        - whencreated
        - nTSecurityDescriptor

# Remote Collection Settings
remote_collection:
  # These methods roughly correspond to the methods of SharpHound
  # Valid options are:
  #   userrights, dcregistry, sessions, regsessions, loggedon,
  #   ntlmregistry, caregistry, certservices, webclient, localgroups,
  #   ldapservices, smbinfo, gpolocalgroup
  methods:
    - userrights
    - dcregistry
    - sessions
    - regsessions
    - loggedon
    - ntlmregistry
    - caregistry
    - certservices
    - webclient
    - localgroups
    - ldapservices
    - smbinfo
    - gpolocalgroup

  # Availability checks to run before remote collection
  #  
  # Available checks:
  #   windows_os - Only run remote collection on Windows computers
  #   password_age - Only run remote collection on
  #                  computers with recent values (last 60 days)
  #                  in either pwdLastSet or lastLogonTimestamp
  #   smb_port_scan - Only run remote collection on computers with port 445 open
  # If omitted, no checks will run (all computers pass)
  # To enable checks, explicitly list them:
  availability_checks:
    - windows_os
    - password_age
    # Disabled by default as it adds the additional delay
    # of checking port 445 on all computers
    # - smb_port_scan

# Conversion Settings
conversion:
  # Merge remote results into ingested data if they exist:
  merge_remote: true

  # Size of the memory buffer for writing JSON output files:
  writer_bufsize: 33554432

  # Compress JSON output files in the end of conversion:
  compress_output: true

  # Whether to remove the individual files after compression:
  cleanup_after_compression: true
